In [101]:
import pandas as pd
import numpy as np

#### Reading in data. Since Unique ID is an identifier column, will make that the index

In [3]:
vf = pd.read_csv('../data/PA_VF_2024_06_04.csv', index_col = 'UniqueID')
vf.head()

,County_FIPS_Code,Metro_Type,Sex,Age,Party_Registration,Registration_Date,Voter_Status,Modeled_Ethnicity,Modeled_HH_Income,Modeled_Education,...,VH14G,VH14P,VH13G,VH13P,VH12G,VH12P,VH11G,VH11P,VH10G,VH10P
UniqueID,,,,,,,,,,,,,,,,,,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},45,Suburban,F,59,U,19950522.0,A,White,$75000 - $99999,High School,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,3.0,NaN,NaN
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},45,Suburban,M,49,R,19991002.0,A,White,$50000 - $74999,Graduate School,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
{D3947105-5DC2-4C89-A39F-90BEC217150D},45,Suburban,F,50,R,19950522.0,A,White,$50000 - $74999,College,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},45,Suburban,F,61,D,19991002.0,A,White,$100000 - $124999,College,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
{5C1F62AB-5803-415A-84B9-96C0025F1408},45,Suburban,F,65,D,19950522.0,A,White,$30000 - $39999,College,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,5.0

In [4]:
vf.shape

(8704945, 38)

In [5]:
vf.dtypes

County_FIPS_Code        int64
Metro_Type             object
Sex                    object
Age                     int64
Party_Registration     object
Registration_Date     float64
Voter_Status           object
Modeled_Ethnicity      object
Modeled_HH_Income      object
Modeled_Education      object
VH23G                 float64
VH23P                 float64
VH22G                 float64
VH22P                 float64
VH21G                 float64
VH21P                 float64
VH20G                 float64
VH20P                 float64
VH19G                 float64
VH19P                 float64
VH18G                 float64
VH18P                 float64
VH17G                 float64
VH17P                 float64
VH16G                 float64
VH16P                 float64
VH15G                 float64
VH15P                 float64
VH14G                 float64
VH14P                 float64
VH13G                 float64
VH13P                 float64
VH12G                 float64
VH12P                 float64
VH11G                 float64
VH11P                 float64
VH10G                 float64
VH10P                 float64
dtype: object

#### Change column names to snake case to make coding easier

In [6]:
vf.columns = [col.replace(' ', '_').lower() for col in vf.columns]

In [7]:
vf.columns

Index(['county_fips_code', 'metro_type', 'sex', 'age', 'party_registration',
       'registration_date', 'voter_status', 'modeled_ethnicity',
       'modeled_hh_income', 'modeled_education', 'vh23g', 'vh23p', 'vh22g',
       'vh22p', 'vh21g', 'vh21p', 'vh20g', 'vh20p', 'vh19g', 'vh19p', 'vh18g',
       'vh18p', 'vh17g', 'vh17p', 'vh16g', 'vh16p', 'vh15g', 'vh15p', 'vh14g',
       'vh14p', 'vh13g', 'vh13p', 'vh12g', 'vh12p', 'vh11g', 'vh11p', 'vh10g',
       'vh10p'],
      dtype='object')

#### Identify Missing Data

In [8]:
vf.isnull().sum()

county_fips_code            0
metro_type                523
sex                         0
age                         0
party_registration          0
registration_date       13119
voter_status                0
modeled_ethnicity           0
modeled_hh_income      148191
modeled_education      148191
vh23g                 5555402
vh23p                 6649884
vh22g                 3511657
vh22p                 6143046
vh21g                 6072702
vh21p                 6500927
vh20g                 2563541
vh20p                 6182034
vh19g                 6245716
vh19p                 7220712
vh18g                 4421809
vh18p                 7337946
vh17g                 6838050
vh17p                 7504243
vh16g                 3796301
vh16p                 6010159
vh15g                 6919361
vh15p                 7501517
vh14g                 6021312
vh14p                 7699449
vh13g                 7373018
vh13p                 7823684
vh12g                 4721322
vh12p                 7597313
vh11g                 7243606
vh11p                 7599154
vh10g                 5993834
vh10p                 7418254
dtype: int64

### For Vote History fields (vh##p or vh##g), missing data means they did not vote. Will treat that as not voting (0)

In [9]:
vf.vh23g.value_counts(dropna = False)

vh23g
NaN    5555402
1.0    2322897
2.0     826646
Name: count, dtype: int64

In [10]:
# Get the vote history columns by dropping all the non-vote history fields
vh_cols = vf.drop(columns = ['county_fips_code', 'metro_type', 'sex', 'age', 'party_registration', 'registration_date', 'voter_status', 'modeled_ethnicity', 'modeled_hh_income', 'modeled_education'])
vh_cols

,vh23g,vh23p,vh22g,vh22p,vh21g,vh21p,vh20g,vh20p,vh19g,vh19p,...,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p
UniqueID,,,,,,,,,,,,,,,,,,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},NaN,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,3.0,NaN,NaN
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},NaN,NaN,1.0,NaN,NaN,NaN,1.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
{D3947105-5DC2-4C89-A39F-90BEC217150D},NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},2.0,5.0,2.0,6.0,1.0,5.0,2.0,6.0,1.0,5.0,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
{5C1F62AB-5803-415A-84B9-96C0025F1408},1.0,5.0,1.0,5.0,2.0,6.0,2.0,NaN,1.0,5.0,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
{240A0810-934E-4FBF-BC92-7C774F1AE270},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
{987E2DC7-3ECF-4B75-A4DB-E3F775A764CE},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
{14BB6C33-92F8-4ED4-9213-F5E0F8A362DB},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
{F57A78D9-98C9-4596-9B18-A78AE926C762},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
{31A0BB81-ACDC-4675-BFB4-FDA8DF67BADC},1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Making the non-vote history fields everything that isn't the vote history columns
non_vh_cols = vf.drop(columns = vh_cols.columns)
non_vh_cols

,county_fips_code,metro_type,sex,age,party_registration,registration_date,voter_status,modeled_ethnicity,modeled_hh_income,modeled_education
UniqueID,,,,,,,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},45,Suburban,F,59,U,19950522.0,A,White,$75000 - $99999,High School
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},45,Suburban,M,49,R,19991002.0,A,White,$50000 - $74999,Graduate School
{D3947105-5DC2-4C89-A39F-90BEC217150D},45,Suburban,F,50,R,19950522.0,A,White,$50000 - $74999,College
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},45,Suburban,F,61,D,19991002.0,A,White,$100000 - $124999,College
{5C1F62AB-5803-415A-84B9-96C0025F1408},45,Suburban,F,65,D,19950522.0,A,White,$30000 - $39999,College
...,...,...,...,...,...,...,...,...,...,...
{240A0810-934E-4FBF-BC92-7C774F1AE270},101,Urban,F,30,D,20230707.0,A,White,$75000 - $99999,High School
{987E2DC7-3ECF-4B75-A4DB-E3F775A764CE},101,Urban,F,35,R,20230707.0,A,Black,$15000 - $19999,Unknown
{14BB6C33-92F8-4ED4-9213-F5E0F8A362DB},101,Urban,M,30,D,20230707.0,A,Black,Unknown,High School
{F57A78D9-98C9-4596-9B18-A78AE926C762},101,Urban,F,20,D,20230707.0,A,Black,$15000 - $19999,Unknown
{31A0BB81-ACDC-4675-BFB4-FDA8DF67BADC},101,Urban,M,29,D,20230707.0,A,White,$100000 - $124999,High School

In [12]:
vh_cols.fillna(0, inplace = True)

In [13]:
vh_cols.isnull().sum()

vh23g    0
vh23p    0
vh22g    0
vh22p    0
vh21g    0
vh21p    0
vh20g    0
vh20p    0
vh19g    0
vh19p    0
vh18g    0
vh18p    0
vh17g    0
vh17p    0
vh16g    0
vh16p    0
vh15g    0
vh15p    0
vh14g    0
vh14p    0
vh13g    0
vh13p    0
vh12g    0
vh12p    0
vh11g    0
vh11p    0
vh10g    0
vh10p    0
dtype: int64

In [14]:
vh_cols.head()

,vh23g,vh23p,vh22g,vh22p,vh21g,vh21p,vh20g,vh20p,vh19g,vh19p,...,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p
UniqueID,,,,,,,,,,,,,,,,,,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},0.0,0.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
{D3947105-5DC2-4C89-A39F-90BEC217150D},0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},2.0,5.0,2.0,6.0,1.0,5.0,2.0,6.0,1.0,5.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
{5C1F62AB-5803-415A-84B9-96C0025F1408},1.0,5.0,1.0,5.0,2.0,6.0,2.0,0.0,1.0,5.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,5.0

In [15]:
# Making the vote history columns integers
vh_cols = vh_cols.astype(int)
vh_cols.head()

,vh23g,vh23p,vh22g,vh22p,vh21g,vh21p,vh20g,vh20p,vh19g,vh19p,...,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p
UniqueID,,,,,,,,,,,,,,,,,,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,1,0,0,3,0,0
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},0,0,1,0,0,0,1,3,0,0,...,0,0,0,0,1,0,0,0,1,0
{D3947105-5DC2-4C89-A39F-90BEC217150D},0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},2,5,2,6,1,5,2,6,1,5,...,1,0,0,0,1,0,0,0,1,0
{5C1F62AB-5803-415A-84B9-96C0025F1408},1,5,1,5,2,6,2,0,1,5,...,1,0,0,0,1,0,0,0,2,5

In [16]:
vh_cols.dtypes

vh23g    int32
vh23p    int32
vh22g    int32
vh22p    int32
vh21g    int32
vh21p    int32
vh20g    int32
vh20p    int32
vh19g    int32
vh19p    int32
vh18g    int32
vh18p    int32
vh17g    int32
vh17p    int32
vh16g    int32
vh16p    int32
vh15g    int32
vh15p    int32
vh14g    int32
vh14p    int32
vh13g    int32
vh13p    int32
vh12g    int32
vh12p    int32
vh11g    int32
vh11p    int32
vh10g    int32
vh10p    int32
dtype: object

## Recombining the vote history and non-vote history fields

In [17]:
# Called this vf2 to check to make sure the merge is correct
vf2 = non_vh_cols.join(vh_cols)

In [18]:
# The shape of vf2 and vf are the same
vf2.shape, vf.shape

((8704945, 38), (8704945, 38))

In [19]:
# Rewriting vf so it's now the re-merged field
vf = vf2

In [20]:
# Re-checking the shape
vf.shape

(8704945, 38)

#### Filling nulls on education and income

In [21]:
vf['modeled_hh_income'].value_counts(dropna = False)

modeled_hh_income
$50000 - $74999         1695762
Greater than $124999    1193993
$75000 - $99999         1175268
$40000 - $49999          824210
Unknown                  805057
$30000 - $39999          742487
$100000 - $124999        634821
$20000 - $29999          616064
$15000 - $19999          440503
Less than $15000         428589
NaN                      148191
Name: count, dtype: int64

In [22]:
vf['modeled_education'].value_counts(dropna = False)

modeled_education
High School             4172830
College                 1724720
Unknown                 1704644
Graduate School          910663
NaN                      148191
Vocational/Technical      43897
Name: count, dtype: int64

#### In both the education and income fields, there is already a category called "Unknown" so I will make the nulls the same as unknown

In [23]:
vf['modeled_education'].fillna('Unknown', inplace = True)
vf['modeled_hh_income'].fillna('Unknown', inplace = True)

In [24]:
vf['modeled_hh_income'].value_counts(dropna = False)

modeled_hh_income
$50000 - $74999         1695762
Greater than $124999    1193993
$75000 - $99999         1175268
Unknown                  953248
$40000 - $49999          824210
$30000 - $39999          742487
$100000 - $124999        634821
$20000 - $29999          616064
$15000 - $19999          440503
Less than $15000         428589
Name: count, dtype: int64

In [25]:
vf['modeled_education'].value_counts(dropna = False)

modeled_education
High School             4172830
Unknown                 1852835
College                 1724720
Graduate School          910663
Vocational/Technical      43897
Name: count, dtype: int64

#### Make registration_date field a datetime type

In [26]:
vf['registration_date'].value_counts(dropna = False).reset_index().sort_values('registration_date')

       registration_date  count
11236         19000101.0     77
20630         19000314.0      1
21089         19000402.0      1
13328         19000405.0     34
20077         19000417.0      1
...                  ...    ...
1435          20240328.0   1236
5818          20240329.0    424
9605          20240330.0    130
16333         20240331.0      8
15                   NaN  13119

[22636 rows x 2 columns]

In [27]:
# Convert from float to integer
vf['registration_date2'] = vf['registration_date'].astype('Int64')

In [28]:
vf[['registration_date', 'registration_date2']].sort_values('registration_date')

                                        registration_date  registration_date2
UniqueID
{68A0D5BD-25D6-4DB4-B8A6-5BC4DC62CBE5}         19000101.0            19000101
{07CE05DF-03C5-43AB-9A75-97259B44DF97}         19000101.0            19000101
{06F1CDBA-9371-430C-84A8-2C58A6B34048}         19000101.0            19000101
{40FD1F41-FD9B-4053-B5C2-CEE1D42C7217}         19000101.0            19000101
{CCD4F43F-72F3-43A4-B2BC-753567FA63F1}         19000101.0            19000101
...                                                   ...                 ...
{D9842DF3-BC56-4F82-AD58-C4ECC8CF6F4A}                NaN                <NA>
{79CEF388-0BAB-4034-A8EF-0608AE2EF6EE}                NaN                <NA>
{AC3F0D7D-1077-42B5-A743-594AA4FE7EC8}                NaN                <NA>
{69904C74-D9AC-4061-952C-C89DE46430E1}                NaN                <NA>
{D8CE1ACF-E987-4AEA-A836-1943BC1011DD}                NaN                <NA>

[8704945 rows x 2 columns]

In [29]:
# Convert from integer to string
vf['registration_date3'] = vf['registration_date2'].astype('str')

In [30]:
vf[['registration_date', 'registration_date2', 'registration_date3']].sort_values('registration_date')

,registration_date,registration_date2,registration_date3
UniqueID,,,
{68A0D5BD-25D6-4DB4-B8A6-5BC4DC62CBE5},19000101.0,19000101,19000101
{07CE05DF-03C5-43AB-9A75-97259B44DF97},19000101.0,19000101,19000101
{06F1CDBA-9371-430C-84A8-2C58A6B34048},19000101.0,19000101,19000101
{40FD1F41-FD9B-4053-B5C2-CEE1D42C7217},19000101.0,19000101,19000101
{CCD4F43F-72F3-43A4-B2BC-753567FA63F1},19000101.0,19000101,19000101
...,...,...,...
{D9842DF3-BC56-4F82-AD58-C4ECC8CF6F4A},NaN,<NA>,<NA>
{79CEF388-0BAB-4034-A8EF-0608AE2EF6EE},NaN,<NA>,<NA>
{AC3F0D7D-1077-42B5-A743-594AA4FE7EC8},NaN,<NA>,<NA>
{69904C74-D9AC-4061-952C-C89DE46430E1},NaN,<NA>,<NA>
{D8CE1ACF-E987-4AEA-A836-1943BC1011DD},NaN,<NA>,<NA>

In [31]:
vf[['registration_date', 'registration_date2', 'registration_date3']].dtypes

registration_date     float64
registration_date2      Int64
registration_date3     object
dtype: object

In [32]:
# Convert from string to date-time
vf['registration_date4'] = pd.to_datetime(vf['registration_date3'], errors = 'coerce')

In [33]:
vf[['registration_date', 'registration_date2', 'registration_date3', 'registration_date4']]

,registration_date,registration_date2,registration_date3,registration_date4
UniqueID,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},19950522.0,19950522,19950522,1995-05-22
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},19991002.0,19991002,19991002,1999-10-02
{D3947105-5DC2-4C89-A39F-90BEC217150D},19950522.0,19950522,19950522,1995-05-22
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},19991002.0,19991002,19991002,1999-10-02
{5C1F62AB-5803-415A-84B9-96C0025F1408},19950522.0,19950522,19950522,1995-05-22
...,...,...,...,...
{240A0810-934E-4FBF-BC92-7C774F1AE270},20230707.0,20230707,20230707,2023-07-07
{987E2DC7-3ECF-4B75-A4DB-E3F775A764CE},20230707.0,20230707,20230707,2023-07-07
{14BB6C33-92F8-4ED4-9213-F5E0F8A362DB},20230707.0,20230707,20230707,2023-07-07
{F57A78D9-98C9-4596-9B18-A78AE926C762},20230707.0,20230707,20230707,2023-07-07
{31A0BB81-ACDC-4675-BFB4-FDA8DF67BADC},20230707.0,20230707,20230707,2023-07-07

#### The nulls are Not a Time

In [34]:
vf[['registration_date', 'registration_date2', 'registration_date3', 'registration_date4']].sort_values('registration_date')

,registration_date,registration_date2,registration_date3,registration_date4
UniqueID,,,,
{68A0D5BD-25D6-4DB4-B8A6-5BC4DC62CBE5},19000101.0,19000101,19000101,1900-01-01
{07CE05DF-03C5-43AB-9A75-97259B44DF97},19000101.0,19000101,19000101,1900-01-01
{06F1CDBA-9371-430C-84A8-2C58A6B34048},19000101.0,19000101,19000101,1900-01-01
{40FD1F41-FD9B-4053-B5C2-CEE1D42C7217},19000101.0,19000101,19000101,1900-01-01
{CCD4F43F-72F3-43A4-B2BC-753567FA63F1},19000101.0,19000101,19000101,1900-01-01
...,...,...,...,...
{D9842DF3-BC56-4F82-AD58-C4ECC8CF6F4A},NaN,<NA>,<NA>,NaT
{79CEF388-0BAB-4034-A8EF-0608AE2EF6EE},NaN,<NA>,<NA>,NaT
{AC3F0D7D-1077-42B5-A743-594AA4FE7EC8},NaN,<NA>,<NA>,NaT
{69904C74-D9AC-4061-952C-C89DE46430E1},NaN,<NA>,<NA>,NaT
{D8CE1ACF-E987-4AEA-A836-1943BC1011DD},NaN,<NA>,<NA>,NaT

In [35]:
vf[['registration_date', 'registration_date2', 'registration_date3', 'registration_date4']].dtypes

registration_date            float64
registration_date2             Int64
registration_date3            object
registration_date4    datetime64[ns]
dtype: object

#### Re-assigning the reg-date 4 to registration date and dropping the other columns

In [36]:
vf['registration_date'] = vf['registration_date4']

In [37]:
vf.drop(columns = ['registration_date2', 'registration_date3', 'registration_date4'], inplace = True)

In [38]:
vf.sample(5).head()

,county_fips_code,metro_type,sex,age,party_registration,registration_date,voter_status,modeled_ethnicity,modeled_hh_income,modeled_education,...,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p
UniqueID,,,,,,,,,,,,,,,,,,,,,
{DADE7C70-8B0F-42FC-8293-44BC972CEB68},43,Suburban,M,20,D,2021-08-31,A,Black,Greater than $124999,College,...,0,0,0,0,0,0,0,0,0,0
{0D87EFC9-0A02-4915-8BA7-1EBAED550527},101,Urban,M,78,D,1973-09-29,A,Black,$40000 - $49999,High School,...,1,5,0,0,1,5,1,5,1,5
{1739015B-A840-45B3-A65A-F5B18D4DA34B},3,Suburban,F,57,D,1992-10-01,A,White,$40000 - $49999,Unknown,...,1,0,0,0,1,0,0,0,1,5
{9CC70CDA-DEBC-4D84-9C14-1321A99D5AC8},91,Suburban,M,46,U,2016-10-03,A,Asian,Unknown,Unknown,...,0,0,0,0,0,0,0,0,0,0
{C7FC6AAF-E1FD-4787-BFB2-1D7272420530},117,Rural,F,49,R,1993-03-12,A,White,$40000 - $49999,High School,...,1,0,0,0,1,0,0,3,0,0

In [39]:
vf.dtypes

county_fips_code               int64
metro_type                    object
sex                           object
age                            int64
party_registration            object
registration_date     datetime64[ns]
voter_status                  object
modeled_ethnicity             object
modeled_hh_income             object
modeled_education             object
vh23g                          int32
vh23p                          int32
vh22g                          int32
vh22p                          int32
vh21g                          int32
vh21p                          int32
vh20g                          int32
vh20p                          int32
vh19g                          int32
vh19p                          int32
vh18g                          int32
vh18p                          int32
vh17g                          int32
vh17p                          int32
vh16g                          int32
vh16p                          int32
vh15g                          int32
vh15p                          int32
vh14g                          int32
vh14p                          int32
vh13g                          int32
vh13p                          int32
vh12g                          int32
vh12p                          int32
vh11g                          int32
vh11p                          int32
vh10g                          int32
vh10p                          int32
dtype: object

In [40]:
vf.isnull().sum()

county_fips_code          0
metro_type              523
sex                       0
age                       0
party_registration        0
registration_date     13119
voter_status              0
modeled_ethnicity         0
modeled_hh_income         0
modeled_education         0
vh23g                     0
vh23p                     0
vh22g                     0
vh22p                     0
vh21g                     0
vh21p                     0
vh20g                     0
vh20p                     0
vh19g                     0
vh19p                     0
vh18g                     0
vh18p                     0
vh17g                     0
vh17p                     0
vh16g                     0
vh16p                     0
vh15g                     0
vh15p                     0
vh14g                     0
vh14p                     0
vh13g                     0
vh13p                     0
vh12g                     0
vh12p                     0
vh11g                     0
vh11p                     0
vh10g                     0
vh10p                     0
dtype: int64

#### Fill in Missing Data on Metro Type based on the county

In [41]:
vf['metro_type'].value_counts(dropna = False)

metro_type
Suburban    4501938
Rural       1861472
Urban       1768224
Town         572788
NaN             523
Name: count, dtype: int64

In [42]:
vf[vf['metro_type'].isnull()]

,county_fips_code,metro_type,sex,age,party_registration,registration_date,voter_status,modeled_ethnicity,modeled_hh_income,modeled_education,...,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p
UniqueID,,,,,,,,,,,,,,,,,,,,,
{17D3B4B6-3C2A-4023-A47E-136CD7B6E6BA},1,NaN,M,88,D,2016-09-29,A,White,$40000 - $49999,Unknown,...,0,0,0,0,0,0,0,0,0,0
{7415B8D2-8476-458C-85D0-EE73F3E69CC6},45,NaN,M,19,D,2022-08-23,A,Other,Unknown,Unknown,...,0,0,0,0,0,0,0,0,0,0
{B371D0AA-F060-4AE6-BB49-9A171AF4D6D2},17,NaN,F,58,R,1997-03-11,A,White,$75000 - $99999,Unknown,...,0,0,0,0,0,0,0,0,0,0
{5DBFBA0F-FEB0-4D96-8E1D-B1F5BCE9B5F7},17,NaN,F,43,D,1999-04-21,A,White,Greater than $124999,College,...,0,0,0,0,0,0,0,0,0,0
{2DA839CB-EA7C-4A7A-9E7A-E94EF21D9C40},17,NaN,F,66,D,1992-08-04,A,White,Unknown,Unknown,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
{2FD29C8C-C128-427D-881B-ED52B10F909C},133,NaN,F,39,R,2016-11-09,A,White,Unknown,Unknown,...,0,0,0,0,0,0,0,0,0,0
{3A7A4860-E4C0-406A-96E4-30F029DCD51C},133,NaN,M,27,R,2016-04-14,A,White,$75000 - $99999,High School,...,0,0,0,0,0,0,0,0,0,0
{0AD5936C-7E31-4E6C-8710-D917B9C53C1B},133,NaN,M,40,R,2021-08-06,A,White,Greater than $124999,High School,...,0,0,0,0,0,0,0,0,0,0
{03BFF028-2D49-4971-BB3D-C88E809A618B},83,NaN,F,46,R,2023-08-04,A,White,Unknown,Unknown,...,0,0,0,0,0,0,0,0,0,0
{F52B2B4E-5A36-42F3-B608-0804649EA831},101,NaN,F,73,D,1998-09-14,A,Black,$75000 - $99999,Graduate School,...,1,5,0,0,1,5,1,5,1,5

In [43]:
vf[['county_fips_code', 'metro_type']].value_counts(dropna = False).reset_index().sort_values(['county_fips_code', 'metro_type']).head(30)

     county_fips_code metro_type   count
41                  1      Rural   39202
99                  1   Suburban   17178
126                 1       Town   10906
152                 1      Urban    4542
194                 1        NaN       5
68                  3      Rural   27773
1                   3   Suburban  653442
210                 3       Town       1
7                   3      Urban  223156
196                 3        NaN       4
64                  5      Rural   29202
150                 5   Suburban    4879
139                 5       Town    8506
62                  7      Rural   30317
19                  7   Suburban   78016
157                 7       Town    3964
200                 7        NaN       2
69                  9      Rural   27600
190                 9   Suburban      30
151                 9       Town    4863
21                 11      Rural   70400
11                 11   Suburban  146549
149                11       Town    5063
38                 11      Urban   40531
89                 13      Rural   20399
84                 13   Suburban   21533
134                13       Town    9821
73                 13      Urban   25656
71                 15      Rural   27350
132                15       Town    9970

In [44]:
# Based on https://stackoverflow.com/questions/58943689/impute-column-value-via-mode-based-on-another-column
# Imputed metro is whatever the most frequent value is for metro type for each county fips code
imputed_metro = vf.groupby('county_fips_code')['metro_type'].transform(lambda x: x.mode()[0])
imputed_metro

UniqueID
{9E7350F3-10C8-4B5F-AFFE-F270E7544218}    Suburban
{E1D2E0F1-7033-4833-AFA5-3771EB71D619}    Suburban
{D3947105-5DC2-4C89-A39F-90BEC217150D}    Suburban
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B}    Suburban
{5C1F62AB-5803-415A-84B9-96C0025F1408}    Suburban
                                            ...
{240A0810-934E-4FBF-BC92-7C774F1AE270}       Urban
{987E2DC7-3ECF-4B75-A4DB-E3F775A764CE}       Urban
{14BB6C33-92F8-4ED4-9213-F5E0F8A362DB}       Urban
{F57A78D9-98C9-4596-9B18-A78AE926C762}       Urban
{31A0BB81-ACDC-4675-BFB4-FDA8DF67BADC}       Urban
Name: metro_type, Length: 8704945, dtype: object

In [45]:
vf['metro_type'].fillna(imputed_metro, inplace = True)

In [46]:
# Spot checking, but there's no nills. In FIPS=1, rural increased by 5 (which was what was NA) and in FIPS = 3, suburban increased by 4 (which is what was missing)
vf[['county_fips_code', 'metro_type']].value_counts(dropna = False).reset_index().sort_values(['county_fips_code', 'metro_type']).head(20)

     county_fips_code metro_type   count
41                  1      Rural   39207
99                  1   Suburban   17178
126                 1       Town   10906
152                 1      Urban    4542
68                  3      Rural   27773
1                   3   Suburban  653446
194                 3       Town       1
7                   3      Urban  223156
64                  5      Rural   29202
150                 5   Suburban    4879
139                 5       Town    8506
62                  7      Rural   30317
19                  7   Suburban   78018
157                 7       Town    3964
69                  9      Rural   27600
187                 9   Suburban      30
151                 9       Town    4863
21                 11      Rural   70400
11                 11   Suburban  146549
149                11       Town    5063

#### Making the county fips code a string, because even though it's a numeric value, it should be treated as a string since it's just a numeric representation of the county

In [47]:
vf['county_fips_code'] = vf['county_fips_code'].apply(str)

In [48]:
vf.dtypes

county_fips_code              object
metro_type                    object
sex                           object
age                            int64
party_registration            object
registration_date     datetime64[ns]
voter_status                  object
modeled_ethnicity             object
modeled_hh_income             object
modeled_education             object
vh23g                          int32
vh23p                          int32
vh22g                          int32
vh22p                          int32
vh21g                          int32
vh21p                          int32
vh20g                          int32
vh20p                          int32
vh19g                          int32
vh19p                          int32
vh18g                          int32
vh18p                          int32
vh17g                          int32
vh17p                          int32
vh16g                          int32
vh16p                          int32
vh15g                          int32
vh15p                          int32
vh14g                          int32
vh14p                          int32
vh13g                          int32
vh13p                          int32
vh12g                          int32
vh12p                          int32
vh11g                          int32
vh11p                          int32
vh10g                          int32
vh10p                          int32
dtype: object

In [49]:
vf.isnull().sum()

county_fips_code          0
metro_type                0
sex                       0
age                       0
party_registration        0
registration_date     13119
voter_status              0
modeled_ethnicity         0
modeled_hh_income         0
modeled_education         0
vh23g                     0
vh23p                     0
vh22g                     0
vh22p                     0
vh21g                     0
vh21p                     0
vh20g                     0
vh20p                     0
vh19g                     0
vh19p                     0
vh18g                     0
vh18p                     0
vh17g                     0
vh17p                     0
vh16g                     0
vh16p                     0
vh15g                     0
vh15p                     0
vh14g                     0
vh14p                     0
vh13g                     0
vh13p                     0
vh12g                     0
vh12p                     0
vh11g                     0
vh11p                     0
vh10g                     0
vh10p                     0
dtype: int64

In [50]:
vf['county_fips_code'].value_counts().reset_index().sort_values('county_fips_code')

   county_fips_code    count
28                1    71833
0               101  1035567
37              103    44253
62              105    10915
24              107    88055
..              ...      ...
2                91   607631
61               93    12064
11               95   221120
32               97    54670
45               99    30029

[67 rows x 2 columns]

In [51]:
vf['party_registration'].value_counts().reset_index()

  party_registration    count
0                  D  3891263
1                  R  3491232
2                  U  1103563
3                  I    96553
4                  O    69327
5                  T    42763
6                  G    10244

In [52]:
vf['sex'].value_counts()

sex
F    4540895
M    4139002
U      25048
Name: count, dtype: int64

In [53]:
vf['age'].value_counts().reset_index().sort_values('age')

    age   count
88   -1     110
67   18   37359
61   19   68675
57   20   86645
56   21  102081
..  ...     ...
95  111      17
94  112      19
97  113       8
96  114       9
98  115       7

[99 rows x 2 columns]

In [54]:
vf['voter_status'].value_counts().reset_index().sort_values('voter_status')

  voter_status    count
0            A  7956590
1            I   748355

In [55]:
vf['modeled_ethnicity'].value_counts().reset_index().sort_values('modeled_ethnicity')

  modeled_ethnicity    count
4             Asian   286631
1             Black   912414
2          Hispanic   522767
3             Other   376803
0             White  6606330

In [56]:
vf['modeled_education'].value_counts().reset_index().sort_values('modeled_education')

      modeled_education    count
2               College  1724720
3       Graduate School   910663
0           High School  4172830
1               Unknown  1852835
4  Vocational/Technical    43897

In [57]:
vf['registration_date'].value_counts(dropna = False).reset_index().sort_values('registration_date')

      registration_date  count
11236        1900-01-01     77
20630        1900-03-14      1
21089        1900-04-02      1
13328        1900-04-05     34
20077        1900-04-17      1
...                 ...    ...
1435         2024-03-28   1236
5818         2024-03-29    424
9605         2024-03-30    130
16333        2024-03-31      8
15                  NaT  13119

[22636 rows x 2 columns]

In [58]:
vf[vf['age'] == -1]

,county_fips_code,metro_type,sex,age,party_registration,registration_date,voter_status,modeled_ethnicity,modeled_hh_income,modeled_education,...,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p
UniqueID,,,,,,,,,,,,,,,,,,,,,
{7E261E36-4A0B-4237-96F3-E0A9FDDBD229},3,Suburban,M,-1,D,1968-09-01,A,White,$50000 - $74999,High School,...,1,0,0,0,1,5,0,0,1,0
{3AA20CA3-5A55-4610-BF04-DC009B73D154},3,Suburban,F,-1,D,2002-09-01,A,White,$100000 - $124999,College,...,0,0,0,0,1,0,0,0,0,0
{0034D9ED-F809-4508-9AB2-DE3A340E70F5},3,Suburban,F,-1,R,2004-10-17,A,White,$20000 - $29999,High School,...,0,0,0,0,1,0,0,0,0,0
{01653C3D-2ADC-4CA3-8C17-452CDAEB4041},13,Urban,F,-1,D,NaT,A,White,$20000 - $29999,Unknown,...,0,0,0,0,0,0,0,0,0,0
{35FF2246-350D-456F-9673-06E0A70A6E6C},63,Rural,F,-1,R,2022-11-15,A,White,$75000 - $99999,Unknown,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
{0C32BA82-AAB4-4C6F-BF9C-A93AE390B378},101,Urban,M,-1,D,2000-08-29,A,Hispanic,Less than $15000,High School,...,1,5,0,0,1,5,0,5,1,5
{E8FC12BB-8C26-4C42-AFDF-BCDF7B225306},101,Urban,M,-1,D,2015-04-02,I,Black,$30000 - $39999,Unknown,...,0,0,0,0,0,0,0,0,0,0
{5EBEDFB8-2D03-49E1-98F0-4C5651582C6D},101,Urban,F,-1,D,1978-09-28,I,Black,Unknown,Unknown,...,0,0,0,0,0,5,0,0,1,5
{F03B9389-322E-4D9F-B9FC-746D1A293186},101,Urban,M,-1,D,1998-10-05,A,Black,Less than $15000,Unknown,...,0,0,0,0,0,0,0,0,0,5
{11EDBF14-506E-4E9F-A9D1-B76D56731A73},101,Urban,F,-1,D,2011-03-10,A,Asian,$15000 - $19999,Unknown,...,0,0,0,0,1,0,0,0,0,0

#### Selecting everything registered after December 2020 - no one voted in the 2020 general election. This makes sense since if you registered in December 2020 or later, you wouldn't have been eligible to vote in the November 2020 election

In [59]:
vf[vf['registration_date'] > '2020-12-01']['vh20g'].value_counts()

vh20g
0    698097
Name: count, dtype: int64

#### When we do the same for the 2018 election, we see 12 people who registered after December 2018, yet voted in the 2018 general election.

In [60]:
vf[vf['registration_date'] > '2018-12-01']['vh18g'].value_counts()

vh18g
0    1581051
1         12
Name: count, dtype: int64

### This could mean registration date is the date of their last registration change - they moved and re-registered to vote, or they changed their party registration. In fact, some of these people who registered after Dec 2018 even have vote history going back to 2010.

In [61]:
# Looking at the 12 people who registered after December 2018, yet also voted in the 2018 election
vf[(vf['registration_date'] > '2018-12-01') & (vf['vh18g'] == 1)]

,county_fips_code,metro_type,sex,age,party_registration,registration_date,voter_status,modeled_ethnicity,modeled_hh_income,modeled_education,...,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p
UniqueID,,,,,,,,,,,,,,,,,,,,,
{99D81E7B-B082-42B7-8642-CEB19FC840B0},13,Town,M,37,R,2020-05-18,A,White,$50000 - $74999,High School,...,0,0,0,0,0,0,0,0,0,0
{F3CDF1C1-576D-40D5-BF6A-1DC6583471A7},13,Suburban,F,92,R,2020-05-18,A,White,$40000 - $49999,College,...,0,5,0,0,1,0,0,0,1,5
{B30957DC-71A2-4B47-B7BA-2B7B07DB6E5E},13,Urban,M,56,D,2020-05-18,A,White,$50000 - $74999,High School,...,0,0,0,0,0,0,0,0,0,0
{20B1995A-1A2D-4B1A-9009-9B55476CC3BE},41,Rural,F,65,R,2020-05-12,A,White,$50000 - $74999,High School,...,1,5,1,5,1,5,0,0,1,5
{2515A4BF-DF2B-4308-A72C-0ED60C92A724},49,Suburban,F,79,R,2020-05-18,A,White,$100000 - $124999,High School,...,1,0,1,0,1,3,1,0,1,3
{A6A2967D-7389-40CB-A6BD-57C5DC14EB75},41,Suburban,M,69,R,2020-04-28,A,White,$50000 - $74999,College,...,1,0,0,0,1,3,1,3,1,3
{784374DB-2AEB-4ABF-B409-0586AE5E7ECA},41,Suburban,F,79,D,2020-05-05,A,White,$30000 - $39999,College,...,0,0,0,0,0,0,0,0,0,0
{BC79E9E2-D5D5-4EB3-947A-CB777DE3F7DD},125,Suburban,F,39,D,2020-05-18,A,Asian,$75000 - $99999,High School,...,0,0,0,0,0,0,0,0,0,0
{5A42D6E8-E457-4C42-921E-B47B0BE1631D},125,Suburban,F,37,D,2020-05-18,A,Black,$50000 - $74999,High School,...,0,0,0,0,0,0,0,0,0,0
{72A2E817-88B7-4A0F-B601-C7ED2CBB697E},69,Suburban,F,38,D,2020-05-18,A,White,$40000 - $49999,Unknown,...,0,0,0,0,0,0,1,5,0,0
{B11ECD22-6304-41D2-BAA3-E9439FE526BC},91,Suburban,F,49,R,2020-04-19,A,White,$50000 - $74999,High School,...,0,0,0,0,0,0,0,0,0,0
{15DAA4A2-D2A0-4316-A787-D30E56B91C3E},101,Urban,M,55,D,2020-05-10,A,Black,Unknown,Unknown,...,0,0,0,0,1,0,0,0,1,0

In [62]:
vh_cols.head()

,vh23g,vh23p,vh22g,vh22p,vh21g,vh21p,vh20g,vh20p,vh19g,vh19p,...,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p
UniqueID,,,,,,,,,,,,,,,,,,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,1,0,0,3,0,0
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},0,0,1,0,0,0,1,3,0,0,...,0,0,0,0,1,0,0,0,1,0
{D3947105-5DC2-4C89-A39F-90BEC217150D},0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},2,5,2,6,1,5,2,6,1,5,...,1,0,0,0,1,0,0,0,1,0
{5C1F62AB-5803-415A-84B9-96C0025F1408},1,5,1,5,2,6,2,0,1,5,...,1,0,0,0,1,0,0,0,2,5

In [72]:
# A vote history function to binarize vote history where if vote history is missing / 0, it returns 0. But if there's any vote history present (voted, voted absentee, voted in the primary), it returns a 1.
def vh_recode(number):
    if number == 0:
        number = 0
    else:
        number = 1

    return number

In [67]:
vh_cols

,vh23g,vh23p,vh22g,vh22p,vh21g,vh21p,vh20g,vh20p,vh19g,vh19p,...,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p
UniqueID,,,,,,,,,,,,,,,,,,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,1,0,0,3,0,0
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},0,0,1,0,0,0,1,3,0,0,...,0,0,0,0,1,0,0,0,1,0
{D3947105-5DC2-4C89-A39F-90BEC217150D},0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},2,5,2,6,1,5,2,6,1,5,...,1,0,0,0,1,0,0,0,1,0
{5C1F62AB-5803-415A-84B9-96C0025F1408},1,5,1,5,2,6,2,0,1,5,...,1,0,0,0,1,0,0,0,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
{240A0810-934E-4FBF-BC92-7C774F1AE270},0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
{987E2DC7-3ECF-4B75-A4DB-E3F775A764CE},0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
{14BB6C33-92F8-4ED4-9213-F5E0F8A362DB},0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
{F57A78D9-98C9-4596-9B18-A78AE926C762},0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
{31A0BB81-ACDC-4675-BFB4-FDA8DF67BADC},1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
# Returns last letter
'vh23g'[-1]

'g'

In [69]:
# Returns 2nd to last 2 letters
'vh23g'[-3:-1]

'23'

In [70]:
# combines last letter & 2nd to last 2 letters
'vh23g'[-1] + 'vh23g'[-3:-1]

'g23'

In [73]:
vh_recode_df = []

In [75]:
#For each column in the vote history columns
for col in vh_cols.columns: 
    
    # New_col_name is the last letter of the column plus the 2 letters before that. So vh23g becomes g23 ... vh10p becomes p10
    new_col_name = col[-1] + col[-3:-1]

    #Apply the recoding function to that column and output it onto vh_cols with the new column name
    vh_cols[new_col_name] = vh_cols[col].apply(vh_recode)

In [76]:
pd.set_option('display.max_columns', 60)
vh_cols.sample(7)

,vh23g,vh23p,vh22g,vh22p,vh21g,vh21p,vh20g,vh20p,vh19g,vh19p,vh18g,vh18p,vh17g,vh17p,vh16g,vh16p,vh15g,vh15p,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p,g23,p23,g22,p22,g21,p21,g20,p20,g19,p19,g18,p18,g17,p17,g16,p16,g15,p15,g14,p14,g13,p13,g12,p12,g11,p11,g10,p10
UniqueID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
{26609A34-E780-429C-816F-9C085E75955F},0,6,2,6,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,1,0,1,5,0,1,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,1
{4083E29F-9C6E-4E0B-A7AC-3276C8FFC1A8},0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{463A9E9A-A71B-4DC9-838E-D2EF12969225},0,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{A96D2377-634B-455E-9245-CC2F4B8F88F3},1,5,1,5,1,0,2,6,1,0,1,0,1,5,1,5,1,5,0,0,0,0,1,0,0,0,1,5,1,1,1,1,1,0,1,1,1,0,1,0,1,1,1,1,1,1,0,0,0,0,1,0,0,0,1,1
{CB9181B7-C99F-46B9-857A-C38AF579A4C2},1,3,1,3,1,3,1,3,1,0,1,3,0,0,1,3,1,3,1,3,1,0,1,3,1,3,2,3,1,1,1,1,1,1,1,1,1,0,1,1,0,0,1,1,1,1,1,1,1,0,1,1,1,1,1,1
{B2C67BBA-C32A-4DFE-89E2-5678B69E67E9},0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{36ED74AE-AAA7-4092-B4C6-C49C7D9793C5},1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [92]:
# Get the last 28 columns of vote history that are the recoded vote history columns - from g23 to p10
recoded_vh = vh_cols[vh_cols.columns[-28:]]
recoded_vh

,g23,p23,g22,p22,g21,p21,g20,p20,g19,p19,g18,p18,g17,p17,g16,p16,g15,p15,g14,p14,g13,p13,g12,p12,g11,p11,g10,p10
UniqueID,,,,,,,,,,,,,,,,,,,,,,,,,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},0,0,1,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
{D3947105-5DC2-4C89-A39F-90BEC217150D},0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,0,1,0,0,0,1,0
{5C1F62AB-5803-415A-84B9-96C0025F1408},1,1,1,1,1,1,1,0,1,1,1,1,1,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
{240A0810-934E-4FBF-BC92-7C774F1AE270},0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{987E2DC7-3ECF-4B75-A4DB-E3F775A764CE},0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{14BB6C33-92F8-4ED4-9213-F5E0F8A362DB},0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{F57A78D9-98C9-4596-9B18-A78AE926C762},0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{31A0BB81-ACDC-4675-BFB4-FDA8DF67BADC},1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [93]:
vf.head()

,county_fips_code,metro_type,sex,age,party_registration,registration_date,voter_status,modeled_ethnicity,modeled_hh_income,modeled_education,vh23g,vh23p,vh22g,vh22p,vh21g,vh21p,vh20g,vh20p,vh19g,vh19p,vh18g,vh18p,vh17g,vh17p,vh16g,vh16p,vh15g,vh15p,vh14g,vh14p,vh13g,vh13p,vh12g,vh12p,vh11g,vh11p,vh10g,vh10p
UniqueID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},45,Suburban,F,59,U,1995-05-22,A,White,$75000 - $99999,High School,0,0,1,0,0,0,2,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,3,0,0
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},45,Suburban,M,49,R,1999-10-02,A,White,$50000 - $74999,Graduate School,0,0,1,0,0,0,1,3,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
{D3947105-5DC2-4C89-A39F-90BEC217150D},45,Suburban,F,50,R,1995-05-22,A,White,$50000 - $74999,College,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},45,Suburban,F,61,D,1999-10-02,A,White,$100000 - $124999,College,2,5,2,6,1,5,2,6,1,5,1,5,1,5,1,5,1,0,1,0,0,0,1,0,0,0,1,0
{5C1F62AB-5803-415A-84B9-96C0025F1408},45,Suburban,F,65,D,1995-05-22,A,White,$30000 - $39999,College,1,5,1,5,2,6,2,0,1,5,1,5,1,0,1,5,0,0,1,0,0,0,1,0,0,0,2,5

In [95]:
# Joining the recoded vote history onto the main voter file
vf = vf.join(recoded_vh)

In [96]:
vf

,county_fips_code,metro_type,sex,age,party_registration,registration_date,voter_status,modeled_ethnicity,modeled_hh_income,modeled_education,vh23g,vh23p,vh22g,vh22p,vh21g,vh21p,vh20g,vh20p,vh19g,vh19p,vh18g,vh18p,vh17g,vh17p,vh16g,vh16p,vh15g,vh15p,vh14g,vh14p,...,vh10g,vh10p,g23,p23,g22,p22,g21,p21,g20,p20,g19,p19,g18,p18,g17,p17,g16,p16,g15,p15,g14,p14,g13,p13,g12,p12,g11,p11,g10,p10
UniqueID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
{9E7350F3-10C8-4B5F-AFFE-F270E7544218},45,Suburban,F,59,U,1995-05-22,A,White,$75000 - $99999,High School,0,0,1,0,0,0,2,0,0,0,1,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0
{E1D2E0F1-7033-4833-AFA5-3771EB71D619},45,Suburban,M,49,R,1999-10-02,A,White,$50000 - $74999,Graduate School,0,0,1,0,0,0,1,3,0,0,0,0,1,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0
{D3947105-5DC2-4C89-A39F-90BEC217150D},45,Suburban,F,50,R,1995-05-22,A,White,$50000 - $74999,College,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0
{DDD68A80-C7EC-4364-ACED-3B3EB2847B6B},45,Suburban,F,61,D,1999-10-02,A,White,$100000 - $124999,College,2,5,2,6,1,5,2,6,1,5,1,5,1,5,1,5,1,0,1,0,...,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,0,0,1,0,0,0,1,0
{5C1F62AB-5803-415A-84B9-96C0025F1408},45,Suburban,F,65,D,1995-05-22,A,White,$30000 - $39999,College,1,5,1,5,2,6,2,0,1,5,1,5,1,0,1,5,0,0,1,0,...,2,5,1,1,1,1,1,1,1,0,1,1,1,1,1,0,1,1,0,0,1,0,0,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
{240A0810-934E-4FBF-BC92-7C774F1AE270},101,Urban,F,30,D,2023-07-07,A,White,$75000 - $99999,High School,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{987E2DC7-3ECF-4B75-A4DB-E3F775A764CE},101,Urban,F,35,R,2023-07-07,A,Black,$15000 - $19999,Unknown,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{14BB6C33-92F8-4ED4-9213-F5E0F8A362DB},101,Urban,M,30,D,2023-07-07,A,Black,Unknown,High School,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{F57A78D9-98C9-4596-9B18-A78AE926C762},101,Urban,F,20,D,2023-07-07,A,Black,$15000 - $19999,Unknown,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
{31A0BB81-ACDC-4675-BFB4-FDA8DF67BADC},101,Urban,M,29,D,2023-07-07,A,White,$100000 - $124999,High School,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

#### Exporting cleaned data to clean.csv

In [ ]:
vf.to_csv('../data/clean.csv')